<h1>Edit Post for <%= @posts.title %> </h1>

    
    <form action="/posts/<%=@posts.id%>" method="post">
    <input type="hidden" name="_method" value="patch"> 
    <label>Title</label>
    <input type="text" name="post[title]" value="<%= @posts.title %>">
    <label>Post</label>
    <textarea name="post[method]"><%= @posts.method %></textarea>
    <label>Image</label>
    <input type="text" name="post[image]" value="<%= @posts.image %>">
    <button type="submit">Edit Post</button>
    <p><%= @error %></p>
</form>   