<h1>Posts</h1>
<a href="/posts/new">Create a post</a>
<% @posts.each do |post| %>
    <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
    <p><%= post.method %></p>
    <img src="<%= post.image %>" alt="post">
    <a href="/posts/<%= post.id %>/edit">Edit</a>
    <% end %>